In [2]:
print("Anil kumar")

Anil kumar

In [4]:
mukesh=7
z=6
rohan=5
longitude=4

In [5]:
print(rohan)

5

In [6]:
ur_age=21
ur_weight=50.6
ur_first_name="Mukesh"
ur_last_name="Manral"

In [7]:
#Data Types(Types of variable)

In [8]:
print(type(ur_age),type(ur_weight),type(ur_first_name),type(ur_last_name))

<class 'int'> <class 'float'> <class 'str'> <class 'str'>

In [9]:
print(ur_age,ur_weight,ur_first_name,ur_last_name)

21 50.6 Mukesh Manral

In [10]:
ur_first_name = 'Mukesh'
ur_last_name = 'Mukesh'

print( ur_last_name==ur_first_name )

True

In [11]:
x=777
print(x)

777

In [19]:
x=7
y=77
z=77.7
zz='Hi'

In [20]:
#Arithmetic Opertors

In [21]:
x+z

84.7

In [23]:
z-y

0.7000000000000028

In [25]:
x*z

543.9

In [26]:
z^x

TypeError: unsupported operand type(s) for ^: 'float' and 'int'

In [27]:
z/x

11.1

In [28]:
#floor division(ignores decimal) on x and z (gives quotient)
z//x

11.0

In [29]:
x%z

7.0

In [30]:
#Comparison Opertors

In [31]:
result=x<z

In [32]:
print(type(result))

<class 'bool'>

In [33]:
result=x<=z

In [34]:
result=x==z

In [35]:
result=x>z

In [36]:
result=x>=z

In [37]:
result=x!=z

In [38]:
#Logical Opertors

In [39]:
108==108 and 21==21

True

In [40]:
108==1018 and 21==220

False

In [41]:
108==108 or 21==11

True

In [42]:
(108==108) or (21==11) or (108<=11)

True

In [43]:
#if---else => to handle single condition
#if---elif---else => to handle multiple conditions

In [44]:
  money=100000
money > 2000

True

In [47]:
money=10000
if money > 1000:
   print(f"data science course free {money}")
else:
   print("You have less money then in your account then else will wrok")

data science course free 10000

In [48]:
test_score=80
if( test_score > 80):
    print("A Grade")
elif("test_score > 60 and test_score <80 "):
    print("B grade")
else:
    print("Nothing for you")

B grade

In [49]:
#Python Loops

In [ ]:
"""
 for iterating_variable in sequence:
     statement(s)
"""

In [51]:
for iterating_variable in range(10):
    print(iterating_variable)

0
1
2
3
4
5
6
7
8
9

In [52]:
for _ in range(10):
    print("I love Playing cricket with m friends")

I love Playing cricket with m friends
I love Playing cricket with m friends
I love Playing cricket with m friends
I love Playing cricket with m friends
I love Playing cricket with m friends
I love Playing cricket with m friends
I love Playing cricket with m friends
I love Playing cricket with m friends
I love Playing cricket with m friends
I love Playing cricket with m friends

In [55]:
#Syntax of while loop
"""
while comparison:
    statements(s)
"""

'\nwhile comparison:\n    statements(s)\n'

In [56]:
n=0
while(n<10):
    n=n+1
    print(n)

1
2
3
4
5
6
7
8
9
10

In [57]:
#Types of Jump Statements
#Break Statements and Continue Statements

In [59]:
#Break Statement

In [60]:
for i in range(10):
    if i ==5:
        break
    print(i)

0
1
2
3
4

In [61]:
#Continue Statement

In [62]:
for i in range(10):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

In [63]:
#String Manipulation

In [64]:
string_ = '' or "" or """ """

In [65]:
string="We are creating next generation data science eco-system at college rank."

In [66]:
print(len(string))

72

In [68]:
string[0]

'W'

In [70]:
string[-2]

'k'

In [71]:
#String Slicing

In [72]:
string[:6]

'We are'

In [75]:
string[7:-11]

'creating next generation data science eco-system at co'

In [76]:
count = string.count('next')
print(count)

1

In [77]:
count = string.count('o')
print(count)

3

In [78]:
string.find('d')
string.index('a')

3

In [79]:
string.startswith('w')
string.endswith("r")

False

In [80]:
string.upper()

'WE ARE CREATING NEXT GENERATION DATA SCIENCE ECO-SYSTEM AT COLLEGE RANK.'

In [81]:
print(string.islower())
print(string.isupper())

False
False

In [82]:
###Checking if
print(string.isdigit())
print(string.isalnum())
print(string.isalpha())

False
False
False

In [84]:
new_str="java is easy to learn"

In [85]:
new_str.replace("java","python")

'python is easy to learn'

In [86]:
new_str.split()

['java', 'is', 'easy', 'to', 'learn']

In [87]:
#Python Functions

In [88]:
"""
def function_name():
    statement(s)
"""

'\ndef function_name():\n    statement(s)\n'

In [89]:
#Define the welcome_message function
def welcome_message(name):
    print(f"Welcome to Functions, {name}!!!")

In [90]:
#Call the functions with a parameter 
welcome_message("Anil Kumar")

Welcome to Functions, Anil Kumar!!!

In [91]:
# Write a function to add two number which are as 3 and 4
# in total Variable store adition of 3 + 4
# Print total variable
def add():
    x=3
    y=4
    print(f"x + y = {x+y}")

add()

x + y = 7

In [92]:
# Positional Arguments

In [93]:
def substraction_function(small_number,large_number) :
    return ( large_number - small_number)

In [94]:
# Pass in right order
substraction_function(5,6)

1

In [95]:
# Always pass arguments using there name(Keyword arguments)
substraction_function(small_number=10,large_number=5)

-5

In [96]:
# Scope of variables means that part of program where we can access particular variable

In [97]:
### Observe every output from here onwords ###
# Defining a global variable 
global_variable = 'Variable outside of function'

# defining function
def random_function():
    # accessing variable which is outside of this function
    return global_variable

In [98]:
random_function()

'Variable outside of function'

In [99]:
## >= Let's see what will happen if we try to change value of global variable from inside of the function

In [100]:
### Observe every output from here from onwords ###
# Defining a global variable
global_variable = 'Variable outside of function'